li{
    list-style: none;

}
img {
    width: 300px;
    height: 300px;
}
div ul>li{
    text-align: center;
    padding-top: 20px;
    border: solid red;
    margin: 0 200px;

}
div ol>li{
    text-align: center;
    padding-top: 20px;
    border: solid red;
    margin: 0 150px;
}

h2{
    text-align: center;
    color: rgb(133, 20, 99);
}
section a img{
    display: inline;
    width: 30px;
    height: 25px;
    margin: 0 50%;

    
}
h3{
    text-align: center;
    color: greenyellow;
}
